<div ng-class="classForAlert()" class="alert" role="alert">
  <span ng-hide="menu.seen">Это меню еще не проверено:&nbsp;</span>
  <span ng-show="menu.seen">Вы можете:&nbsp;</span>
  <button type="button" class="btn btn-success" ng-show="!menu.seen || !menu.approved" ng-click="approveMenu()">Апрувнуть меню</button>
  <button type="button" class="btn btn-danger" ng-show="!menu.seen || menu.approved" ng-click="rejectMenu()">Отклонить</button>
  <span ng-show="message" ng-bind="message"></span>
</div>

<div ng-repeat="i in getNumber(5) track by $index">
  <h3>{{daysOfWeek[$index]}} <span class="label label-primary" ng-bind="daySize($index)"></span></h3>
  <table class="table table-striped table-hover">
    <tr>
      <th>№</th>
      <th>Название</th>
      <th>Вес</th>
      <th>Стоимость</th>
    </tr>

    <tr ng-repeat="it in menu[$index]">
      <td>{{$index + 1}}</td>
      <td>{{it.name}}</td>
      <td>{{it.weight}}</td>
      <td>{{it.cost}}</td>
    </tr>
  </table>
</div>
