<div ng-show="error" class="alert alert-danger" role="alert">{{error}}</div>
<div ng-show="message" class="alert alert-success" role="alert">{{message}}</div>
<div class="public-form-parent">
  <div class="public-form-floater"></div>
  <div class="public-form-child">
    <div class="col-md-8" style="border-right: 1px dotted #C2C2C2;padding-right: 30px;">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li ng-class="isSelectedTab('signin') ? 'active' : ''"><a href="" ng-click="selectTab('signin')">Login</a></li>
            <li ng-class="isSelectedTab('signup') ? 'active' : ''"><a href="" ng-click="selectTab('signup')">Registration</a></li>
            <li ng-class="isSelectedTab('restore') ? 'active' : ''"><a href="" ng-click="selectTab('restore')">Forgot password</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <ng-include ng-if="isSelectedTab('signin')" src="'templates/signin.html'"></ng-include>
          <ng-include ng-if="isSelectedTab('signup')" src="'templates/signup.html'"></ng-include>
          <ng-include ng-if="isSelectedTab('restore')" src="'templates/restore.html'"></ng-include>
        </div>
        <div id="public-or" class="hidden-xs">OR</div>
    </div>
    <div class="col-md-4">
        <div class="row text-center sign-with">
            <div class="col-md-12">
                <h3>or sign in with</h3>
            </div>
            <a ng-click="social('vkontakte')" class="btn btn-social-icon btn-vk">
              <i class="fa fa-vk"></i>
            </a>
            <a ng-click="social('facebook')" class="btn btn-social-icon btn-facebook">
              <i class="fa fa-facebook"></i>
            </a>
            <!-- <a ng-click="social('google')" class="btn btn-social-icon btn-google">
              <i class="fa fa-google"></i>
            </a> -->
            <a ng-click="social('github')" class="btn btn-social-icon btn-github">
              <i class="fa fa-github"></i>
            </a>
            <!-- <a ng-click="social('linkedin')" class="btn btn-social-icon btn-linkedin">
              <i class="fa fa-linkedin"></i>
            </a> -->
        </div>
    </div>
  </div>
</div>
